$body-color: #333;
$body-bg: #fff;
$primary-color: #2bff00;
$primary-bg: #fff;
$primary-border-color: #2bff00;
$secondary-color: #6c757d;
$secondary-bg: #fff;
$secondary-border-color: #6c757d;

@forward "variables";
